footer {
position: relative; /* instead of fixed or absolute */
  bottom: 0;
  width: 100%;
}

footer a {
  transition: all 0.3s ease;
}

footer a:hover {
  color: #ffd91c !important;
  transform: scale(1.1);
}

/* Optional: Limit container width */
.containerfooter {
  max-width: 1000vh;
  margin: 0 auto;
}
